div {
	display: inline-block;
	height: 50px;
	width: 50px;
}

button{
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: blue;	
}

h2{
	color: white;
}

.on{
	background-color: blue;
}

.off{
	background-color: red;
}